<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col col-sm-6">
                <h1><a href="#" title="scroll down for your viewing pleasure">Quạt công nghiệp</a>
            </div>
            <div class="col col-sm-6">
                <div class="well pull-right">
                    {% block logo %}
                        <img src="//placehold.it/280x100/E7E7E7">
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-sm-12">

                <div class="panel">
                    <div class="panel-body">
                        {% block header %}

                        {% endblock %} <span class="glyphicon glyphicon-heart-empty"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>